<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidersbr.transcending" >

    // To be removed for sure, just for temporary test //
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/transcending_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base" >
        <activity
            android:name=".EntranceScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".ToAnalyzeThenDelete.ListViewLoader"
            android:label="@string/facebook_login"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".FragmentListArray"
            android:label="@string/fragment_list_array"
            android:theme="@style/AppTheme.Base">
        </activity>
        <activity
            android:name=".ExternalDBActivity"
            android:label="@string/ExternalDBActivity"
            android:theme="@style/AppTheme.Base">
        </activity>
    </application>

</manifest>
